/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/* 页内样式 */

body{
	width:100%;
	height:100%;
	position:relative;
}
/*container.css*/
.container{
	position: absolute;
	width:1200px;
	height:800px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin: 0 auto;
}
.title{
	margin-top:20px;
	margin-left:20px;
	width:900px;
	height:40px;
}
.title>h3{
	font-family: '微软雅黑 Light';
	font-size:24px;
	color: #333;
}
hr{	
	width:1200px;
	height:1px;
	background-color:#BDBDBD;
	box-shadow:1px 1px 1px #888;
}
/* .nav.css*/

.nav{
	margin-top:20px;
	margin-left:20px;
	width:900px;
	height:130px;
}
.nav>h4{
	font-family: '微软雅黑 Light';
	font-size:20px;
	color: #333;
}
.nav>ul{
	margin-top:20px;
	width:120px;
	height:40px;
}
.nav>ul>li{
	font-family: "微软雅黑";
	font-size:16px;
	margin-top:10px;
}

/* .txt.css*/

.txt{
	margin-top:20px;
	margin-left:20px;
	width:900px;
	height:100px;
}
.txt>h5{
	font-family: '微软雅黑 Light';
	font-size:18px;
	color: #333;
}
.txt>dl{
	margin-top:20px;
	width:120px;
	height:40px;
}
.txt>dl>dt{
	font-family: "微软雅黑";
	font-size:16px;
	margin-top:10px;
}
.txt>dl>dd{
	font-family: "微软雅黑";
	font-size:16px;
	margin-top:10px;
	width:400px;
}

/* .p_Box.css*/

.p_Box{
	margin-top:20px;
	margin-left:10px;
	width:1200px;
	height:90px;
}
.p_Box>h6{
	font-family: '微软雅黑 Light';
	font-size:16px;
	color: #333;
}
.p_Box>p{
	margin-top:20px;
	font-family:'微软雅黑 Light';
	font-size:14px;
	color:#272727;
}









