<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>courseServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlets.FirstServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet生命周期（描述信息）</description>
    <display-name>LifeServlet（显示名称）</display-name>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>servlets.LifeServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/life.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>request测试</display-name>
    <servlet-name>TestHttpServletRequest</servlet-name>
    <servlet-class>servlets.TestHttpServletRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestHttpServletRequest</servlet-name>
    <url-pattern>/request.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
</web-app>